<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vynos</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="/javascripts/jquery.min.js"></script>
        <meta property="og:title" content="Vynos Micropayments Wallet">
        <meta property="og:description" content="Vynos is an in-browser micropayments wallet, built on Ethereum">
        <meta property="og:site_name" content="vynos.tech">
	</head>

	<body>
    {{{body}}}
    <footer class="b-footer">
      <div class="g-wrapper g-wrapper_center">Collaboration of Machinomy&thinsp;×&thinsp;SpankChain</div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77906232-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-77906232-2');
    </script>
    </body>
</html>