<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
</head>
<body>
  <div class="ui text container">
    <div class="ui secondary pointing menu">
        <a href="/" class="item">Home</a>
      <a href="/paid" class="item">Paid Content</a>
      <a href="/faucet" class="item">Faucet</a>
      <div class="right menu">
        <a id="display" class="item">
          <img src="/avatar.svg" alt="" width="20px" height="20px">
        Vynos</a>
      </div>
    </div>
   {{{body}}}
  </div>
</body>
</html>