<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vynos</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>

	<body>
    {{{body}}}
    <footer class="b-footer">
      <div class="g-wrapper g-wrapper_center">Collaboration of SpankChain x Machinomy</div>
    </footer>
	</body>
</html>