<meta property="og:title" content="{{title}}">
<meta property="og:description" content="Ray Bradbury: The Exile">
<meta property="og:site_name" content="Vynos.tech">
<meta property="og:url" content="https://vynos.tech/articles/the_exiles">

<header class="g-header">
  <div class="g-wrapper">
    <a href="#logo" class="g-header__logo"></a>
  </div>
</header>

<article class="b-article">
  <div class="b-article__header">
    <div class="b-article__image">
      <img src="/images/tigers.png" />
    </div>
    <div class="b-article__title">
      <div class="g-wrapper">
        <h1 class="h1">{{title}}</h1>
      </div>
    </div>
  </div>
  <div class="b-article__content">
    <div id="content" class="g-wrapper">
    </div>
  </div>
  <div class="g-wrapper">
    <div class="b-article__meta">
      <a id="buy" class="b-button b-article__read-more" href="#readmore">Read more</a>
      <span class="b-article__for">for 6kWei</a>
    </div>
    <a class="b-article__backhome" href="/">&larr; Home</a>
  </div>
</article>