<h1 class="ui dividing header">Faucet</h1>

<p>
    <button id="request-ether" class="ui positive basic button" disabled>Request 0.1 Ether</button>
    <span id="wait-for-vynos">Please, wait till Vynos is loaded, and unlock the wallet...</span>
</p>
<div id="faucet-container">
  <ul id="faucet-transactions"></ul>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th></th>
      <th>Address</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vynos</td>
      <td id="vynos-address"></td>
      <td id="vynos-balance"></td>
    </tr>
    <tr>
      <td>Faucet</td>
      <td>{{faucetAddress}}</td>
      <td>{{faucetBalance}}</td>
    </tr>
  </tbody>
</table>

<script src="/javascripts/faucet.bundle.js"></script>