<p>
    Here is a staging for Machinomy micropayments and Vynos wallet.
</p>

<p>
    If you are here for the first time, please, wait till the page is fully loaded.
    Then create a wallet by clicking Vynos link on the top of the page. After you have an account,
    feel free to refill it via <a href="/faucet" class="item">Faucet</a>, and the experience
    buying an article on <a href="/paid" class="item">Paid content example</a>.
</p>

<script src="/javascripts/paid.bundle.js"></script>