@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProExtraLight'), local('../fonts/SourceSansPro-ExtraLight'), url('../fonts/sourcesansproextralight.woff2') format('woff2'), url('../fonts/sourcesansproextralight.woff') format('woff'), url('../fonts/sourcesansproextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProExtraLightItalic'), local('../fonts/SourceSansPro-ExtraLightIt'), url('../fonts/sourcesansproextralightitalic.woff2') format('woff2'), url('../fonts/sourcesansproextralightitalic.woff') format('woff'), url('../fonts/sourcesansproextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProLight'), local('../fonts/SourceSansPro-Light'), url('../fonts/sourcesansprolight.woff2') format('woff2'), url('../fonts/sourcesansprolight.woff') format('woff'), url('../fonts/sourcesansprolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProLightItalic'), local('../fonts/SourceSansPro-LightIt'), url('../fonts/sourcesansprolightitalic.woff2') format('woff2'), url('../fonts/sourcesansprolightitalic.woff') format('woff'), url('../fonts/sourcesansprolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/Source Sans Pro'), local('../fonts/SourceSansPro-Regular'), url('../fonts/sourcesanspro.woff2') format('woff2'), url('../fonts/sourcesanspro.woff') format('woff'), url('../fonts/sourcesanspro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProItalic'), local('../fonts/SourceSansPro-It'), url('../fonts/sourcesansproitalic.woff2') format('woff2'), url('../fonts/sourcesansproitalic.woff') format('woff'), url('../fonts/sourcesansproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProSemibold'), local('../fonts/SourceSansPro-Semibold'), url('../fonts/sourcesansprosemibold.woff2') format('woff2'), url('../fonts/sourcesansprosemibold.woff') format('woff'), url('../fonts/sourcesansprosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProSemiBoldItalic'), local('../fonts/SourceSansPro-SemiboldIt'), url('../fonts/sourcesansprosemibolditalic.woff2') format('woff2'), url('../fonts/sourcesansprosemibolditalic.woff') format('woff'), url('../fonts/sourcesansprosemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProBold'), local('../fonts/SourceSansPro-Bold'), url('../fonts/sourcesansprobold.woff2') format('woff2'), url('../fonts/sourcesansprobold.woff') format('woff'), url('../fonts/sourcesansprobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProBoldItalic'), local('../fonts/SourceSansPro-BoldIt'), url('../fonts/sourcesansprobolditalic.woff2') format('woff2'), url('../fonts/sourcesansprobolditalic.woff') format('woff'), url('../fonts/sourcesansprobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProBlack'), local('../fonts/SourceSansPro-Black'), url('../fonts/sourcesansproblack.woff2') format('woff2'), url('../fonts/sourcesansproblack.woff') format('woff'), url('../fonts/sourcesansproblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('../fonts/SourceSansProBlackItalic'), local('../fonts/SourceSansPro-BlackIt'), url('../fonts/sourcesansproblackitalic.woff2') format('woff2'), url('../fonts/sourcesansproblackitalic.woff') format('woff'), url('../fonts/sourcesansproblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansLight'), local('../fonts/OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansLightItalic'), local('../fonts/OpenSansLight-Italic'), url('../fonts/opensanslightitalic.woff2') format('woff2'), url('../fonts/opensanslightitalic.woff') format('woff'), url('../fonts/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/Open Sans'), local('../fonts/OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansItalic'), local('../fonts/OpenSans-Italic'), url('../fonts/opensansitalic.woff2') format('woff2'), url('../fonts/opensansitalic.woff') format('woff'), url('../fonts/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansSemibold'), local('../fonts/OpenSans-Semibold'), url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff'), url('../fonts/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansSemiBoldItalic'), local('../fonts/OpenSans-SemiboldItalic'), url('../fonts/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/opensanssemibolditalic.woff') format('woff'), url('../fonts/opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansBold'), local('../fonts/OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansBoldItalic'), local('../fonts/OpenSans-BoldItalic'), url('../fonts/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensansbolditalic.woff') format('woff'), url('../fonts/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansExtrabold'), local('../fonts/OpenSans-Extrabold'), url('../fonts/opensansextrabold.woff2') format('woff2'), url('../fonts/opensansextrabold.woff') format('woff'), url('../fonts/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSansExtraBoldItalic'), local('../fonts/OpenSans-ExtraboldItalic'), url('../fonts/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/opensansextrabolditalic.woff') format('woff'), url('../fonts/opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: local('../fonts/Alegreya Sans'), local('../fonts/Alegreya Sans-Regular'), url('../fonts/Alegreya Sans.woff2') format('woff2'), url('../fonts/Alegreya Sans.woff') format('woff'), url('../fonts/Alegreya Sans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: local('../fonts/Alegreya SansItalic'), local('../fonts/Alegreya Sans-Italic'), url('../fonts/Alegreya Sansitalic.woff2') format('woff2'), url('../fonts/Alegreya Sansitalic.woff') format('woff'), url('../fonts/Alegreya Sansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: local('../fonts/Alegreya SansBold'), local('../fonts/Alegreya Sans-Bold'), url('../fonts/Alegreya Sansbold.woff2') format('woff2'), url('../fonts/Alegreya Sansbold.woff') format('woff'), url('../fonts/Alegreya Sansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: local('../fonts/Alegreya SansBoldItalic'), local('../fonts/Alegreya Sans-BoldItalic'), url('../fonts/Alegreya Sansbolditalic.woff2') format('woff2'), url('../fonts/Alegreya Sansbolditalic.woff') format('woff'), url('../fonts/Alegreya Sansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: local('../fonts/Alegreya SansBlack'), local('../fonts/Alegreya Sans-Black'), url('../fonts/Alegreya Sansblack.woff2') format('woff2'), url('../fonts/Alegreya Sansblack.woff') format('woff'), url('../fonts/Alegreya Sansblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: local('../fonts/Alegreya SansBlackItalic'), local('../fonts/Alegreya Sans-BlackItalic'), url('../fonts/Alegreya Sansblackitalic.woff2') format('woff2'), url('../fonts/Alegreya Sansblackitalic.woff') format('woff'), url('../fonts/Alegreya Sansblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
