<meta property="og:title" content="The Pedestrian">
<meta property="og:description" content="Ray Bradbury: The Pedestrian">
<meta property="og:site_name" content="Vynos.tech">
<meta property="og:url" content="https://vynos.tech/articles/the_pedestrian">

<h1 class="ui header">The Pedestrian</h1>

<p id="content"></p>

<button id="buy" class="ui secondary basic button">Read</button>

<script src="/javascripts/paid.bundle.js"></script>