.b-home-top {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    flex-basis: 66%;
    padding-right: 5%;

    p {
      padding: 10px 0;
    }
  }

  &__title {
    span {
      color: #D04373;
    }
  }

  &__image {
    flex-basis: 33%;
  }
}

#vynos_logo_text {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 59px;
  line-height: 0;
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(208, 64, 113);
  text-align: center;
  height: 50px;
  margin-top: -50px;
}