<p>Their eyes were fire and the breath flamed out the witches' mouths as they bent to probe the caldron with greasy stick and bony finger.
<br>
</p><div class="story_center"><p><em>"When shall we three meet again In thunder, lightning, or in rain?"</em></p></div>
<br>
<p>They danced drunkenly on the shore of an empty sea, fouling the air with their three tongues, and burning it with their cats eyes malevolently aglitter:
<br>
</p><div class="story_center"><p><em>"Round about the cauldron go;<br>In the poison'd entrails throw.... Double, double, toil and trouble;<br>Fire bum, and cauldron bubble!"<br></em></p></div>
<br>
<p>They paused and cast a glance about. "Where's the crystal? Where the needles?"</p>
<p>"Here!"</p>
<p>"Good!"</p>
<p>"Is the yellow wax thickened?"</p>
<p>"Yes!"</p>
<p>"Pour it in the iron mold!"</p>
<p>"Is the wax figure done?" They shaped it like molasses adrip on their green hands.</p>
<p>"Shove the needle through the heart!"
"The crystal, the crystal; fetch it from the tarot bag. Dust it off; have a look!"
They bent to the crystal, their faces white.