<p class="MsoNormal">
    <span lang="EN-GB">In the living room the voice-clock sang, </span>
    <span lang="EN-GB" style="font-family:Arial;mso-ansi-language:EN-GB">Tick-tock, seven o'clock, time to get up, time to get up, seven o'clock!
        <span style="mso-bidi-font-style:
italic"> as if it were afraid nobody would. The morning house lay empty. The clock ticked on, repeating and repeating its
            sounds into the emptiness. </span>Seven-nine, breakfast time, seven-nine!&nbsp;
        <br>
        <span>In the kitchen the breakfast stove gave a hissing sigh and ejected from its warm interior eight pieces of perfectly
            browned toast, eight eggs sunnyside up, sixteen slices of bacon, two coffees, and two cool glasses of milk.</span>
        <br>
        <span>"Today is August 4, 2026," said a second voice from the kitchen ceiling., "in the city of
            <st1:city w:st="on">Allendale</st1:city>,
            <st1:state w:st="on">
                <st1:place w:st="on">California</st1:place>
            </st1:state>." It repeated the date three times for memory's sake. "Today is Mr. Featherstone's birthday. Today is the anniversary
            of Tilita's marriage. Insurance is payable, as are the water, gas, and light bills."</span>
        <br>
        <span>Somewhere in the walls, relays clicked, memory tapes glided under electric eyes.
            <o:p></o:p>
        </span>
    </span>
</p>