<meta property="og:title" content="There Will Come Soft Rainst">
<meta property="og:description" content="Ray Bradbury: There Will Come Soft Rains">
<meta property="og:site_name" content="Vynos.tech">
<meta property="og:url" content="https://vynos.tech/articles/there_will_come_soft_rains">

<h1 class="ui header">There Will Come Soft Rains</h1>

<p id="content"></p>

<button id="buy" class="ui secondary basic button">Read</button>

<script src="/javascripts/paid.bundle.js"></script>